{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<div class="header pb-6 d-flex align-items-center"
     style="min-height: 500px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Hello {{ user }} 
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->

<div class="card-body container-fluid">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Size
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file, size in files %}
                            <tr>
                                <td class="text-dark">
                                    <div>
                                        {% if file.is_dir %}
                                            <a class="" href="?dir={{ file }}">{{ file.name }}</a>
                                        {% elif file.is_file %}
                                            <a class="" href="?dir={{ file }}">{{ file.name }}</a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="text-dark" style="display: flex; justify-content: space-between;">
                                    <div>
                                        {% if file.is_dir %}
                                            <p>--</p>
                                        {% elif file.is_file %}
                                            <p> {{ size }}</p>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}