{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark" id="file_nav">
              </ol>
            </nav>
          </div>
        {% if not is_file %}
        <div class="col-lg-6 col-5 text-right">
            <button class="btn btn-sm btn-neutral" id="add_folder">New Folder</button>
            <button class="btn btn-sm btn-neutral" id="upload_file">Upload File</button>
        </div>
        {% else %}
        <div class="col-lg-6 col-5 text-right">
            <a href="?download={{ curr_dir }}" class="btn btn-sm btn-neutral">Download</a>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
<!-- Page content -->

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            {% if not is_file %}
            <div class="card" id="browser_table">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0">File Browser</h3>
              </div>
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Size
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="list">

                    {% if curr_dir != user_dir %}
                        <tr>
                            <td>
                                <a class="name mb-0 text-sm" href="?dir={{ curr_dir }}{{ path }}..">..</a>
                            </td>
                        </tr>
                    {% endif %}
                    {% for file, size, type in files %}
                        <tr>
                            <td class="text-dark">
                                <div class="media align-items-center">
                                    {% if file.is_dir %}
                                        <i class="ni ni-folder-17 text-blue" style="padding-right: 20px"></i>
                                    {% elif type == '.png' or type == '.jpg' or type == '.jpeg' %}
                                        <i class="fas fa-file-image text-yellow" style="padding-right: 20px; font-size: 1.3em;"></i>
                                    {% elif type == '.csv' %}
                                        <i class="fas fa-file-csv text-orange" style="padding-right: 20px; font-size: 1.3em;"></i>
                                    {% else %}
                                        <i class="fas fa-file-alt text-green" style="padding-right: 20px; font-size: 1.3em;"></i>
                                    {% endif %}
                                    {% if file.is_dir %}
                                        <a class="name mb-0 text-sm" href="?dir={{ file }}">{{ file.name }}</a>
                                    {% elif file.is_file %}
                                        <a class="name mb-0 text-sm" href="?dir={{ file }}">{{ file.name }}</a>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-dark">
                                <div>
                                    {% if file.is_dir %}
                                        <span class="status">--</span>
                                    {% elif file.is_file %}
                                        <span class="status"> {{ size }}</span>
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-dark" style="width: 20px">
                                <div class="btn-group">
                                     <button class="btn shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         <i class="fas fa-ellipsis-v"></i>
                                     </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item delete_btn">Delete</button>
                                        {% if file.is_file %}
                                            <a href="?download={{ file }}" class="dropdown-item">Download</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% endif %}
            <!-- Add new folder card -->
            <div class="card" id="fld_card" style="width: 30em; position: absolute; top: 10%; left: 20%; display: none; ">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                          <h3 class="mb-0">Create a folder </h3>
                        </div>
                        <div class="col-4 text-right">
                          <a class="btn_close" style="cursor: pointer">&times;</a>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <div class="form-group"  id="form-gorup-fld">
                        <label class="form-control-label" for="form-gorup-fld">Folder Name</label>
                        <input type="text" id="input-name" class="form-control" placeholder="Folder name">
                        <div id="ValdtFldName" class="invalid-feedback" style="color: #fc4d44">
                          Please provide a valid folder name.
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary" id="btn_submit">Submit</button>
                </div>
            </div>
            <!--------------------------->
            <!-- Delete confirmation -->
            <div class="card" id="dlt_card" style="width: 30em; position: absolute; top: 10%; left: 20%; display: none;">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                          <h2 class="mb-0">Are you sure?</h2>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-8">
                            <button class="btn btn-danger" id="delete_confirm">Delete</button>
                            <button class="btn btn-light" id="delete_cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------->
            <!-----------Upload---------->
            <div class="card" id="upload_card" style="width: 30em; position: absolute; top: 10%; left: 20%; display: none;">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Choose a file </h3>
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn_close" style="cursor: pointer">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form" id="myForm">
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="inpFile" id="inpFile" style="z-index: 0">
                                <label class="custom-file-label" for="inpFile">Choose file...</label>
                                <div id="ValdtFile" class="invalid-feedback" style="color: #fc4d44; margin-top: 0em;">
                                  Please select a file
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-outline-primary shadow-none" type="submit">Upload File</button>
                    </form>

                </div>
            </div>
            <!--------------------------->
            <!-------File preview-------->
            {% if is_file %}
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                        <div class="col-8">
                          <h3 class="mb-0">File Preview</h3>
                        </div>
                        <div class="col-4 text-right">
                          <a class="btn_close" href="?dir={{ curr_dir }}{{ path }}.." style="cursor: pointer">&times;</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        {% if file_type == '.csv' %}
                            <div class="table-responsive" style="max-height: 75vh; overflow: auto;">
                                <table class="table align-items-center table-flush">
                                    <thead>
                                        <tr class="thead-light">
                                            {% for value in csv_header %}
                                                <th>
                                                    {{ value }}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% for value in csv_data %}
                                            <tr>
                                                {% for key, record in value.items %}
                                                    <td>
                                                        {{ record }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% elif file_type == '.txt' %}
                            <p style="white-space: pre-line">{{ txt_data }}</p>
                        {% elif file_type == '.png' or file_type == '.jpg' or file_type == '.jpeg' %}
                            <img src="{{img_data}}" alt="Dog" class="img-fluid">
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <!--------------------------->
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    {% load static %}
    {{ curr_path|json_script:"curr_path" }}
    <script src="{% static '/home/browser.js' %}" type="text/javascript"></script>

{% endblock javascripts %}